{% extends "header.html" %}

{% block body %}

<section class="mbr-section content4 cid-rBLGugIAf6" id="content4-5">


    <div class="container">
        <div class="media-container-row">
            <div class="title col-12 col-md-8">
                <h2 class="align-center pb-3 mbr-fonts-style display-2">
                    Miniatures Photos</h2>


            </div>
        </div>
    </div>
</section>


<!-- Premiere Catégorie Photo -->
<section class="mbr-gallery mbr-slider-carousel cid-rBLBxlA2Kz" id="gallery3-1">


    <div>
        <div>
            <!-- Filter -->
            <!-- Gallery -->
                <div class="mbr-gallery-row"> <div class="mbr-gallery-layout-default">
                    <div>
                        <div>
                            <div class="mbr-gallery-item mbr-gallery-item--p0" data-video-url="false" data-tags="Impressionnant">
                                <div href="#lb-gallery3-1" data-slide-to="0" data-toggle="modal">
                                    <img src="../assets/images/alberta-2297204_640.jpg" alt="" title="">
                                    <span class="icon-focus"></span>
                                    <span class="mbr-gallery-title mbr-fonts-style display-7">Photo 1</span>
                                </div>
                            </div>
                            <div class="mbr-gallery-item mbr-gallery-item--p0" data-video-url="false" data-tags="Adaptatif">
                                <div href="#lb-gallery3-1" data-slide-to="1" data-toggle="modal">
                                    <img src="../assets/images/aurora-1185464_640.jpg" alt="" title="">
                                    <span class="icon-focus"></span>
                                    <span class="mbr-gallery-title mbr-fonts-style display-7">Photo 2</span>
                                </div>
                            </div>
                            <div class="mbr-gallery-item mbr-gallery-item--p0" data-video-url="false" data-tags="Créatif">
                                <div href="#lb-gallery3-1" data-slide-to="2" data-toggle="modal">
                                    <img src="../assets/images/aurora-1185464_640.jpg" alt="" title="">
                                    <span class="icon-focus"></span>
                                    <span class="mbr-gallery-title mbr-fonts-style display-7">Photo 3</span>
                                </div>
                            </div>
                            <div class="mbr-gallery-item mbr-gallery-item--p0" data-video-url="false" data-tags="Animé">
                                <div href="#lb-gallery3-1" data-slide-to="3" data-toggle="modal">
                                    <img src="../assets/images/aurora-1185464_640.jpg" alt="" title="">
                                    <span class="icon-focus"></span>
                                    <span class="mbr-gallery-title mbr-fonts-style display-7">Photo 4</span>
                                </div>
                            </div>
                        </div>

                        <div>
                            <div class="mbr-gallery-item mbr-gallery-item--p0" data-video-url="false" data-tags="Impressionnant">
                                <div href="#lb-gallery3-1" data-slide-to="0" data-toggle="modal">
                                    <img src="../assets/images/alberta-2297204_640.jpg" alt="" title="">
                                    <span class="icon-focus"></span>
                                    <span class="mbr-gallery-title mbr-fonts-style display-7">Photo 1</span>
                                </div>
                            </div>
                            <div class="mbr-gallery-item mbr-gallery-item--p0" data-video-url="false" data-tags="Adaptatif">
                                <div href="#lb-gallery3-1" data-slide-to="1" data-toggle="modal">
                                    <img src="../assets/images/aurora-1185464_640.jpg" alt="" title="">
                                    <span class="icon-focus"></span>
                                    <span class="mbr-gallery-title mbr-fonts-style display-7">Photo 2</span>
                                </div>
                            </div>
                            <div class="mbr-gallery-item mbr-gallery-item--p0" data-video-url="false" data-tags="Créatif">
                                <div href="#lb-gallery3-1" data-slide-to="2" data-toggle="modal">
                                    <img src="../assets/images/aurora-1185464_640.jpg" alt="" title="">
                                    <span class="icon-focus"></span>
                                    <span class="mbr-gallery-title mbr-fonts-style display-7">Photo 3</span>
                                </div>
                            </div>
                            <div class="mbr-gallery-item mbr-gallery-item--p0" data-video-url="false" data-tags="Animé">
                                <div href="#lb-gallery3-1" data-slide-to="3" data-toggle="modal">
                                    <img src="../assets/images/aurora-1185464_640.jpg" alt="" title="">
                                    <span class="icon-focus"></span>
                                    <span class="mbr-gallery-title mbr-fonts-style display-7">Photo 4</span>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="clearfix"></div>

                </div>


            </div>
            <!-- Lightbox -->
            <div data-app-prevent-settings="" class="mbr-slider modal fade carousel slide" tabindex="-1" data-keyboard="true" data-interval="false" id="lb-gallery3-1">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-body">
                            <div class="carousel-inner">

                                <div class="carousel-item">
                                    <img src="../assets/images/alberta-2297204_640.jpg" alt="" title="">
                                </div>
                                <div class="carousel-item">
                                    <img src="../assets/images/aurora-1185464_640.jpg" alt="" title="">
                                </div>
                                <div class="carousel-item">
                                    <img src="assets/images/gallery02.jpg" alt="" title="">
                                </div>
                                <div class="carousel-item active">
                                    <img src="assets/images/gallery03.jpg" alt="" title="">
                                </div>

                                <div class="carousel-item">
                                    <img src="../assets/images/alberta-2297204_640.jpg" alt="" title="">
                                </div>
                                <div class="carousel-item">
                                    <img src="../assets/images/aurora-1185464_640.jpg" alt="" title="">
                                </div>
                                <div class="carousel-item">
                                    <img src="assets/images/gallery02.jpg" alt="" title="">
                                </div>
                                <div class="carousel-item active">
                                    <img src="assets/images/gallery03.jpg" alt="" title="">
                                </div>

                            </div>
                            <a class="carousel-control carousel-control-prev" role="button" data-slide="prev" href="#lb-gallery3-1">
                                <span class="mbri-left mbr-iconfont" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="carousel-control carousel-control-next" role="button" data-slide="next" href="#lb-gallery3-1">
                                <span class="mbri-right mbr-iconfont" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                            </a>
                            <a class="close" href="#" role="button" data-dismiss="modal">
                                <span class="sr-only">Close</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>

<section class="mbr-section content8 cid-rBLJS1yD6J" id="content8-e">


    <div class="container">
        <div class="media-container-row title">
            <div class="col-12 col-md-8">
                <div class="mbr-section-btn align-center">
                    <a class="btn btn-primary display-4" href="https://mobirise.co">Télécharger</a>
                    <a class="btn btn-black-outline display-4" href="https://mobirise.co">Liste déroulante</a>
                </div>
            </div>
        </div>
    </div>
</section>


{% endblock %}