<!DOCTYPE html>
<html>
    <head>
        <!-- Site made with Mobirise Website Builder v4.8.7, https://mobirise.com -->
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
        <link rel="shortcut icon" href="../assets/images/univ-nantes.png" type="image/x-icon">
        <meta name="description" content="">
        <title> {% block title %} Accueil {% endblock %} </title>
        <link rel="stylesheet" href="../assets/web/assets/mobirise-icons/mobirise-icons.css">
        <link rel="stylesheet" href="../assets/tether/tether.min.css">
        <link rel="stylesheet" href="../assets/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="../assets/bootstrap/css/bootstrap-grid.min.css">
        <link rel="stylesheet" href="../assets/bootstrap/css/bootstrap-reboot.min.css">
        <link rel="stylesheet" href="../assets/dropdown/css/style.css">
        <link rel="stylesheet" href="../assets/socicon/css/styles.css">
        <link rel="stylesheet" href="../assets/theme/css/style.css">
        <link rel="stylesheet" href="../assets/gallery/style.css">
        <link rel="stylesheet" href="../assets/mobirise/css/mbr-additional.css" type="text/css">


    </head>
    <body>
        <section class="menu cid-rBLBicRD7F" once="menu" id="menu1-0">


            <nav class="navbar navbar-expand beta-menu navbar-dropdown align-items-center navbar-fixed-top navbar-toggleable-sm">
                <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <div class="hamburger">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </button>
                <div class="menu-logo">
                    <div class="navbar-brand">

                        <span class="navbar-caption-wrap">
                            <a class="navbar-caption text-white display-4">
                                Mini Projet Mercredi</a>
                        </span>
                    </div>
                </div>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav nav-dropdown" data-app-modern-menu="true">
                        <li class="nav-item">
                            <a class="nav-link link text-white display-4" href="{{path('accueil')}}">

                                Accueil</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link link text-white display-4" href="{{path('galerie.photos')}}">


                                Galerie Photos</a>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link link text-white dropdown-toggle display-4" data-toggle="dropdown-submenu" aria-expanded="false">

                                Galerie Vidéos</a>
                            <div class="dropdown-menu">
                                <a class="text-white dropdown-item display-4" href="{{path('galerie.video')}}">Galerie Vidéos</a>
                                <a class="text-white dropdown-item display-4" href="{{path('galerie.video')}}">Galerie Vidéo 1 / Par Minutes</a>
                                <a class="text-white dropdown-item display-4" href="{{path('galerie.video')}}">Galerie Vidéo 2 / Par Minutes</a>
                            </div>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link link text-white display-4" href="{{path('lecture.vidéos')}}">


                                Lecture Vidéos
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link link text-white display-4" href="{{path('vidéo.streaming')}}">


                                Vidéo Streaming
                            </a>
                        </li>

                    </ul>

                </div>
            </nav>
        </section>

    {% block body %}{% endblock %}
    
  <script src="assets/web/assets/jquery/jquery.min.js"></script>
  <script src="assets/popper/popper.min.js"></script>
  <script src="assets/tether/tether.min.js"></script>
  <script src="assets/bootstrap/js/bootstrap.min.js"></script>
  <script src="assets/smoothscroll/smooth-scroll.js"></script>
  <script src="assets/dropdown/js/script.min.js"></script>
  <script src="assets/touchswipe/jquery.touch-swipe.min.js"></script>
  <script src="assets/mbr-switch-arrow/mbr-switch-arrow.js"></script>
  <script src="assets/masonry/masonry.pkgd.min.js"></script>
  <script src="assets/imagesloaded/imagesloaded.pkgd.min.js"></script>
  <script src="assets/bootstrapcarouselswipe/bootstrap-carousel-swipe.js"></script>
  <script src="assets/vimeoplayer/jquery.mb.vimeo_player.js"></script>
  <script src="assets/mbr-tabs/mbr-tabs.js"></script>
  <script src="assets/theme/js/script.js"></script>
  <script src="assets/gallery/player.min.js"></script>
  <script src="assets/gallery/script.js"></script>
  <script src="assets/slidervideo/script.js"></script>

  {% block javascripts %}{% endblock %}

</body>

</html>