<!DOCTYPE html>
<html >
<head>
  <!-- Site made with Mobirise Website Builder v4.8.7, https://mobirise.com -->
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
  <link rel="shortcut icon" href="../assets/images/univ-nantes.png" type="image/x-icon">
  <meta name="description" content="">
  <title>Home</title>
  <link rel="stylesheet" href="../assets/web/assets/mobirise-icons/mobirise-icons.css">
  <link rel="stylesheet" href="../assets/tether/tether.min.css">
  <link rel="stylesheet" href="../assets/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="../assets/bootstrap/css/bootstrap-grid.min.css">
  <link rel="stylesheet" href="../assets/bootstrap/css/bootstrap-reboot.min.css">
  <link rel="stylesheet" href="../assets/dropdown/css/style.css">
  <link rel="stylesheet" href="../assets/socicon/css/styles.css">
  <link rel="stylesheet" href="../assets/theme/css/style.css">
  <link rel="stylesheet" href="../assets/gallery/style.css">
  <link rel="stylesheet" href="../assets/mobirise/css/mbr-additional.css" type="text/css">
  
  
  
</head>
<body>
  <section class="menu cid-rBLBicRD7F" once="menu" id="menu1-0">

    

    <nav class="navbar navbar-expand beta-menu navbar-dropdown align-items-center navbar-fixed-top navbar-toggleable-sm">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <div class="hamburger">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
        </button>
        <div class="menu-logo">
            <div class="navbar-brand">
  
                <span class="navbar-caption-wrap"><a class="navbar-caption text-white display-4">
                        Mini Projet Mercredi</a></span>
            </div>
        </div>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav nav-dropdown" data-app-modern-menu="true">
                <li class="nav-item">
                    <a class="nav-link link text-white display-4" href="{{path('accueil')}}">
                
                        Accueil</a>
                </li>
                
                <li class="nav-item">
                    <a class="nav-link link text-white display-4" href="{{path('galerie.photos')}}">
                        
                
                        Galerie Photos</a>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link link text-white dropdown-toggle display-4"
                        data-toggle="dropdown-submenu" aria-expanded="false">
                
                        Galerie Vidéos</a>
                    <div class="dropdown-menu">
                        <a class="text-white dropdown-item display-4" href="{{path('galerie.video')}}">Galerie Vidéos</a>
                        <a class="text-white dropdown-item display-4" href="{{path('galerie.video')}}">Galerie Vidéo 1 / Par Minutes</a>
                        <a class="text-white dropdown-item display-4" href="{{path('galerie.video')}}">Galerie Vidéo 2 / Par Minutes</a></div>
                </li>
                
                <li class="nav-item">
                    <a class="nav-link link text-white display-4" href="{{path('lecture.vidéos')}}">
                        
                
                        Lecture Vidéos </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link link text-white display-4" href="{{path('vidéo.streaming')}}">
                
                
                        Vidéo Streaming </a>
                </li>
            
            </ul>

        </div>
    </nav>
</section>

<section class="engine"><a href=""></a></section> <!-- <section class="tabs1 cid-rBLNPOIBs9"> -->
    <section class="tabs1 cid-rBLNPOIBs9 mbr-parallax-background" data-jarallax-original-styles="null"
        style="z-index: 0; position: relative; background-image: none; background-attachment: scroll; background-size: auto;">

    

    
    <div class="container">
        <h2 class="mbr-white align-center pb-5 mbr-fonts-style mbr-bold display-2">
            Bienvenue sur la Galerie</h2>
        <div class="media-container-row">
            <div class="col-12 col-md-8">
                <ul class="nav nav-tabs">
                    <li class="nav-item"><a class="nav-link mbr-fonts-style show display-7" href="{{path('galerie.photos')}}" aria-selected="true">
                            Galerie Photos</a></li>
                    <li class="nav-item"><a class="nav-link mbr-fonts-style show display-7" href="{{path('galerie.videos')}}" aria-selected="true">
                            Galerie Vidéos</a></li>
                    <li class="nav-item"><a class="nav-link mbr-fonts-style show display-7" href="{{path('galerie.video1')}}" aria-selected="true">
                            Galerie Vidéo 1 / Par Minutes</a></li>
                    <li class="nav-item"><a class="nav-link mbr-fonts-style show display-7" href="{{path('galerie.video2')}}" aria-selected="true">
                            Galerie Vidéo 2 / Par Minutes</a></li>
                    <li class="nav-item"><a class="nav-link mbr-fonts-style show display-7" href="{{path('lecture.video')}}" aria-selected="true">
                            Lecture Vidéo</a></li>
                    <li class="nav-item"><a class="nav-link mbr-fonts-style show display-7"  href="{{path('video.streaming')}}" aria-selected="true">
                            Vidéo Streaming</a>
                    </li>

                </ul>

            </div>
        </div>
    </div>
</section>

<section once="" class="cid-rBLV8uH2y7" id="footer6-n">

    

    

    <div class="container">
        <div class="media-container-row align-center mbr-white">
            <div class="col-12">
                <p class="mbr-text mb-0 mbr-fonts-style display-7"></p>
            </div>
        </div>
    </div>
</section>

<section class="accordion1 cid-rBLS8ha3AN" id="accordion1-m">

    

    
    <div class="container">
        <div class="media-container-row">
            <div class="col-12 col-md-8">
                <div class="section-head text-center space30">
                    <h2 class="mbr-section-title pb-5 mbr-fonts-style display-2">Documentation Utilisateurs</h2>
                </div>
                <div class="clearfix"></div>
                <div id="bootstrap-accordion_22" class="panel-group accordionStyles accordion" role="tablist" aria-multiselectable="true">
                    <div class="card">
                        <div class="card-header" role="tab" id="headingOne">
                            <a role="button" class="panel-title collapsed text-black" data-toggle="collapse" data-core="" href="#collapse1_22" aria-expanded="false" aria-controls="collapse1">
                                <h4 class="mbr-fonts-style display-5">
                                    <span class="sign mbr-iconfont mbri-arrow-down inactive"></span>&nbsp;Comment Naviguer sur le Site Internet ?</h4>
                            </a>
                        </div>
                        <div id="collapse1_22" class="panel-collapse noScroll collapse " role="tabpanel" aria-labelledby="headingOne" data-parent="#bootstrap-accordion_22">
                            <div class="panel-body p-4">
                                <p class="mbr-fonts-style panel-text display-7">
                                   Mobirise est une application hors ligne pour Windows et Mac permettant de créer facilement des sites Web de petite et moyenne taille, des pages de destination, des CV et des portfolios en ligne, des sites promotionnels pour des applications, des événements, des services et des produits.</p>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" role="tab" id="headingTwo">
                            <a role="button" class="collapsed panel-title text-black" data-toggle="collapse" data-core="" href="#collapse2_22" aria-expanded="false" aria-controls="collapse2">
                                <h4 class="mbr-fonts-style display-5">
                                    <span class="sign mbr-iconfont mbri-arrow-down inactive"></span>&nbsp;Astuces pour Télécharger les Photos</h4>
                            </a>
                            
                        </div>
                        <div id="collapse2_22" class="panel-collapse noScroll collapse" role="tabpanel" aria-labelledby="headingTwo" data-parent="#bootstrap-accordion_22">
                            <div class="panel-body p-4">
                                <p class="mbr-fonts-style panel-text display-7">
                                   Mobirise est parfait pour les non-techniciens qui ne sont pas familiers avec les subtilités du développement web et pour les concepteurs qui préfèrent travailler autant que possible visuellement , sans se battre avec le code. Mobirise est aussi idéal pour les pro-codeurs pour le prototypage rapide et les projets de petits clients.</p>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" role="tab" id="headingThree">
                            <a role="button" class="collapsed text-black panel-title" data-toggle="collapse" data-core="" href="#collapse3_22" aria-expanded="false" aria-controls="collapse3">
                                <h4 class="mbr-fonts-style display-5">
                                    <span class="sign mbr-iconfont mbri-arrow-down inactive"></span>&nbsp;Astuces pour Télécharger les Vidéos</h4>
                            </a>
                        </div>
                        <div id="collapse3_22" class="panel-collapse noScroll collapse" role="tabpanel" aria-labelledby="headingThree" data-parent="#bootstrap-accordion_22">
                            <div class="panel-body p-4">
                                <p class="mbr-fonts-style panel-text display-7">
                                   Principales différences par rapport aux constructeurs traditionnels :<br>* Extrêmement minimaliste <strong>facile à utiliser</strong> interface<br>* <strong>Mobile</strong>respectueux des dernieres technique web et "out-the-box"<br>* <strong>Gratuit</strong> pour usage commercial et à but non lucratif</p>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" role="tab" id="headingFour">
                            <a role="button" class="collapsed panel-title text-black" data-toggle="collapse" data-core="" href="#collapse4_22" aria-expanded="false" aria-controls="collapse4">
                                <h4 class="mbr-fonts-style display-5">
                                    <span class="sign mbr-iconfont mbri-arrow-down inactive"></span>&nbsp;Astuces pour Afficher les Photos et Vidéos</h4>
                            </a> 
                        </div>
                        <div id="collapse4_22" class="panel-collapse noScroll collapse" role="tabpanel" aria-labelledby="headingFour" data-parent="#bootstrap-accordion_22">
                            <div class="panel-body p-4">
                                <p class="mbr-fonts-style panel-text display-7">
                                   Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur in nulla ut magna vehicula libero luctus in ipsum consequat faucibus. Ut porta nulla ac dapibus convallis. Curabitur sit amet massa quam. In ut ex auctor, porta neque quis, sagittis purus. Nunc auctor gravida magna, sed efficitur tortor tristique quis.</p>
                            </div>
                        </div>
                    </div>
                    
                    
                </div>
            </div>
        </div>
    </div>
</section>

<section once="" class="cid-rBLVh3944j" id="footer7-o">

    

    

    <div class="container">
        <div class="media-container-row align-center mbr-white">
            
            <div class="row row-copirayt">
                <p class="mbr-text mb-0 mbr-fonts-style mbr-white align-center display-7">
                    © Copyright 2019 -- Groupe Jules - Dorian - Farah - Elysée -- M1 Miage - Tous Droits Réservés
                </p>
            </div>
        </div>
    </div>
</section>



<section class="mbr-section content4 cid-rBLGugIAf6" id="content4-5">

    

    <div class="container">
        <div class="media-container-row">
            <div class="title col-12 col-md-8">
                <h2 class="align-center pb-3 mbr-fonts-style display-2">
                    Miniatures Photos</h2>
                
                
            </div>
        </div>
    </div>
</section>


<!-- Premiere Catégorie Photo -->
<section class="mbr-gallery mbr-slider-carousel cid-rBLBxlA2Kz" id="gallery3-1">

    

    <div>
        <div><!-- Filter --><!-- Gallery -->
            <div class="mbr-gallery-row">
                <div class="mbr-gallery-layout-default">
                    <div>
                        <div>
                            <div class="mbr-gallery-item mbr-gallery-item--p0" data-video-url="false" data-tags="Impressionnant">
                                <div href="#lb-gallery3-1" data-slide-to="0" data-toggle="modal">
                                    <img src="../assets/images/alberta-2297204_640.jpg" alt="" title="">
                                    <span class="icon-focus"></span>
                                    <span class="mbr-gallery-title mbr-fonts-style display-7">Photo 1</span>
                                </div>
                            </div>
                            <div class="mbr-gallery-item mbr-gallery-item--p0" data-video-url="false" data-tags="Adaptatif">
                                <div href="#lb-gallery3-1" data-slide-to="1" data-toggle="modal">
                                    <img src="../assets/images/aurora-1185464_640.jpg" alt="" title="">
                                    <span class="icon-focus"></span>
                                    <span class="mbr-gallery-title mbr-fonts-style display-7">Photo 2</span>
                                </div>
                            </div>
                            <div class="mbr-gallery-item mbr-gallery-item--p0" data-video-url="false" data-tags="Créatif"><div href="#lb-gallery3-1" data-slide-to="2" data-toggle="modal">
                                <img src="../assets/images/aurora-1185464_640.jpg" alt="" title="">
                                <span class="icon-focus"></span>
                                <span class="mbr-gallery-title mbr-fonts-style display-7">Photo 3</span>
                            </div>
                        </div>
                        <div class="mbr-gallery-item mbr-gallery-item--p0" data-video-url="false" data-tags="Animé">
                            <div href="#lb-gallery3-1" data-slide-to="3" data-toggle="modal">
                                <img src="../assets/images/aurora-1185464_640.jpg" alt="" title="">
                                <span class="icon-focus"></span>
                                <span class="mbr-gallery-title mbr-fonts-style display-7">Photo 4</span>
                            </div>
                        </div>
                    </div>

                    <div>
                        <div class="mbr-gallery-item mbr-gallery-item--p0" data-video-url="false" data-tags="Impressionnant">
                            <div href="#lb-gallery3-1" data-slide-to="0" data-toggle="modal">
                                <img src="../assets/images/alberta-2297204_640.jpg" alt="" title="">
                                <span class="icon-focus"></span>
                                <span class="mbr-gallery-title mbr-fonts-style display-7">Photo 1</span>
                            </div>
                        </div>
                        <div class="mbr-gallery-item mbr-gallery-item--p0" data-video-url="false" data-tags="Adaptatif">
                            <div href="#lb-gallery3-1" data-slide-to="1" data-toggle="modal">
                                <img src="../assets/images/aurora-1185464_640.jpg" alt="" title="">
                                <span class="icon-focus"></span>
                                <span class="mbr-gallery-title mbr-fonts-style display-7">Photo 2</span>
                            </div>
                        </div>
                        <div class="mbr-gallery-item mbr-gallery-item--p0" data-video-url="false" data-tags="Créatif">
                            <div href="#lb-gallery3-1" data-slide-to="2" data-toggle="modal">
                                <img src="../assets/images/aurora-1185464_640.jpg" alt="" title="">
                                <span class="icon-focus"></span>
                                <span class="mbr-gallery-title mbr-fonts-style display-7">Photo 3</span>
                            </div>
                        </div>
                        <div class="mbr-gallery-item mbr-gallery-item--p0" data-video-url="false" data-tags="Animé">
                            <div href="#lb-gallery3-1" data-slide-to="3" data-toggle="modal">
                                <img src="../assets/images/aurora-1185464_640.jpg" alt="" title="">
                                <span class="icon-focus"></span>
                                <span class="mbr-gallery-title mbr-fonts-style display-7">Photo 4</span>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="clearfix">

                </div>

            </div>


        </div><!-- Lightbox -->
        <div data-app-prevent-settings="" class="mbr-slider modal fade carousel slide" tabindex="-1" data-keyboard="true" data-interval="false" id="lb-gallery3-1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-body">
                        <div class="carousel-inner">
                            
                            <div class="carousel-item">
                                <img src="../assets/images/alberta-2297204_640.jpg" alt="" title="">
                            </div>
                            <div class="carousel-item">
                                <img src="../assets/images/aurora-1185464_640.jpg" alt="" title="">
                            </div>
                            <div class="carousel-item">
                                <img src="assets/images/gallery02.jpg" alt="" title="">
                            </div>
                            <div class="carousel-item active">
                                <img src="assets/images/gallery03.jpg" alt="" title="">
                            </div>

                            <div class="carousel-item">
                                <img src="../assets/images/alberta-2297204_640.jpg" alt="" title="">
                            </div>
                            <div class="carousel-item">
                                <img src="../assets/images/aurora-1185464_640.jpg" alt="" title="">
                            </div>
                            <div class="carousel-item">
                                <img src="assets/images/gallery02.jpg" alt="" title="">
                            </div>
                            <div class="carousel-item active">
                                <img src="assets/images/gallery03.jpg" alt="" title="">
                            </div>

                        </div>
                        <a class="carousel-control carousel-control-prev" role="button" data-slide="prev" href="#lb-gallery3-1">
                            <span class="mbri-left mbr-iconfont" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control carousel-control-next" role="button" data-slide="next" href="#lb-gallery3-1">
                            <span class="mbri-right mbr-iconfont" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                        <a class="close" href="#" role="button" data-dismiss="modal">
                            <span class="sr-only">Close</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>

</section>

<section class="mbr-section content8 cid-rBLJS1yD6J" id="content8-e">

    

    <div class="container">
        <div class="media-container-row title">
            <div class="col-12 col-md-8">
                <div class="mbr-section-btn align-center"><a class="btn btn-primary display-4" href="https://mobirise.co">Télécharger</a>
                    <a class="btn btn-black-outline display-4" href="https://mobirise.co">Liste déroulante</a></div>
            </div>
        </div>
    </div>
</section>

<section class="mbr-section content4 cid-rBLGrFpkMg" id="content4-4">

    

    <div class="container">
        <div class="media-container-row">
            <div class="title col-12 col-md-8">
                <h2 class="align-center pb-3 mbr-fonts-style display-2">
                    Miniatures Vidéos</h2>
                
                
            </div>
        </div>
    </div>
</section>

<section class="mbr-gallery mbr-slider-carousel cid-rBLGbf1STi" id="gallery3-2">

    

    <div>
        <div><!-- Filter --><!-- Gallery --><div class="mbr-gallery-row"><div class="mbr-gallery-layout-default"><div><div><div class="mbr-gallery-item mbr-gallery-item--p0" data-video-url="false" data-tags="Adaptatif"><div href="#lb-gallery3-2" data-slide-to="0" data-toggle="modal"><img src="assets/images/gallery06.jpg" alt="" title=""><span class="icon-focus"></span><span class="mbr-gallery-title mbr-fonts-style display-7">Tapez la légende ici</span></div></div><div class="mbr-gallery-item mbr-gallery-item--p0" data-video-url="false" data-tags="Animé"><div href="#lb-gallery3-2" data-slide-to="1" data-toggle="modal"><img src="assets/images/gallery07.jpg" alt="" title=""><span class="icon-focus"></span><span class="mbr-gallery-title mbr-fonts-style display-7">Tapez la légende ici</span></div></div></div></div><div class="clearfix"></div></div></div><!-- Lightbox --><div data-app-prevent-settings="" class="mbr-slider modal fade carousel slide" tabindex="-1" data-keyboard="true" data-interval="false" id="lb-gallery3-2"><div class="modal-dialog"><div class="modal-content"><div class="modal-body"><div class="carousel-inner"><div class="carousel-item active"><img src="assets/images/gallery06.jpg" alt="" title=""></div><div class="carousel-item"><img src="assets/images/gallery07.jpg" alt="" title=""></div></div><a class="carousel-control carousel-control-prev" role="button" data-slide="prev" href="#lb-gallery3-2"><span class="mbri-left mbr-iconfont" aria-hidden="true"></span><span class="sr-only">Previous</span></a><a class="carousel-control carousel-control-next" role="button" data-slide="next" href="#lb-gallery3-2"><span class="mbri-right mbr-iconfont" aria-hidden="true"></span><span class="sr-only">Next</span></a><a class="close" href="#" role="button" data-dismiss="modal"><span class="sr-only">Close</span></a></div></div></div></div></div>
    </div>

</section>

<section class="mbr-section content8 cid-rBLKBC9SFa" id="content8-f">

    

    <div class="container">
        <div class="media-container-row title">
            <div class="col-12 col-md-8">
                <div class="mbr-section-btn align-center">
                    <a class="btn btn-primary display-4" href="https://mobirise.co">EN SAVOIR PLUS</a>
                    <a class="btn btn-black-outline display-4" href="https://mobirise.co">DÉMO LIVE</a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="mbr-section content4 cid-rBLGPqKQXf" id="content4-6">

    

    <div class="container">
        <div class="media-container-row">
            <div class="title col-12 col-md-8">
                <h2 class="align-center pb-3 mbr-fonts-style display-2">Lecture Vidéos</h2>
                
                
            </div>
        </div>
    </div>
</section>

<section class="mbr-gallery mbr-slider-carousel cid-rBLH4PwfUI" id="gallery3-7">

    

    <div>
        <div><!-- Filter --><!-- Gallery --><div class="mbr-gallery-row"><div class="mbr-gallery-layout-default"><div><div><div class="mbr-gallery-item mbr-gallery-item--p0" data-video-url="false" data-tags="Adaptatif"><div href="#lb-gallery3-7" data-slide-to="0" data-toggle="modal"><img src="assets/images/gallery06.jpg" alt="" title=""><span class="icon-focus"></span><span class="mbr-gallery-title mbr-fonts-style display-7">Tapez la légende ici</span></div></div><div class="mbr-gallery-item mbr-gallery-item--p0" data-video-url="false" data-tags="Animé"><div href="#lb-gallery3-7" data-slide-to="1" data-toggle="modal"><img src="assets/images/gallery07.jpg" alt="" title=""><span class="icon-focus"></span><span class="mbr-gallery-title mbr-fonts-style display-7">Tapez la légende ici</span></div></div></div></div><div class="clearfix"></div></div></div><!-- Lightbox --><div data-app-prevent-settings="" class="mbr-slider modal fade carousel slide" tabindex="-1" data-keyboard="true" data-interval="false" id="lb-gallery3-7"><div class="modal-dialog"><div class="modal-content"><div class="modal-body"><div class="carousel-inner"><div class="carousel-item active"><img src="assets/images/gallery06.jpg" alt="" title=""></div><div class="carousel-item"><img src="assets/images/gallery07.jpg" alt="" title=""></div></div><a class="carousel-control carousel-control-prev" role="button" data-slide="prev" href="#lb-gallery3-7"><span class="mbri-left mbr-iconfont" aria-hidden="true"></span><span class="sr-only">Previous</span></a><a class="carousel-control carousel-control-next" role="button" data-slide="next" href="#lb-gallery3-7"><span class="mbri-right mbr-iconfont" aria-hidden="true"></span><span class="sr-only">Next</span></a><a class="close" href="#" role="button" data-dismiss="modal"><span class="sr-only">Close</span></a></div></div></div></div></div>
    </div>

</section>

<section class="mbr-section content8 cid-rBLKCCnU4Q" id="content8-g">

    

    <div class="container">
        <div class="media-container-row title">
            <div class="col-12 col-md-8">
                <div class="mbr-section-btn align-center">
                    <a class="btn btn-primary display-4" href="https://mobirise.co">EN SAVOIR PLUS</a>
                    <a class="btn btn-black-outline display-4" href="https://mobirise.co">DÉMO LIVE</a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="mbr-section content4 cid-rBLHp9AXEM" id="content4-8">

    

    <div class="container">
        <div class="media-container-row">
            <div class="title col-12 col-md-8">
                <h2 class="align-center pb-3 mbr-fonts-style display-2">Images Par Minutes - Vidéo 1</h2>
                
                
            </div>
        </div>
    </div>
</section>

<section class="mbr-gallery mbr-slider-carousel cid-rBLHqunC54" id="gallery3-9">

    

    <div>
        <div><!-- Filter --><!-- Gallery --><div class="mbr-gallery-row"><div class="mbr-gallery-layout-default"><div><div><div class="mbr-gallery-item mbr-gallery-item--p0" data-video-url="false" data-tags="Impressionnant"><div href="#lb-gallery3-9" data-slide-to="0" data-toggle="modal"><img src="assets/images/gallery04.jpg" alt="" title=""><span class="icon-focus"></span><span class="mbr-gallery-title mbr-fonts-style display-7">Tapez la légende ici</span></div></div><div class="mbr-gallery-item mbr-gallery-item--p0" data-video-url="false" data-tags="Impressionnant"><div href="#lb-gallery3-9" data-slide-to="1" data-toggle="modal"><img src="assets/images/gallery05.jpg" alt="" title=""><span class="icon-focus"></span><span class="mbr-gallery-title mbr-fonts-style display-7">Tapez la légende ici</span></div></div><div class="mbr-gallery-item mbr-gallery-item--p0" data-video-url="false" data-tags="Adaptatif"><div href="#lb-gallery3-9" data-slide-to="2" data-toggle="modal"><img src="assets/images/gallery06.jpg" alt="" title=""><span class="icon-focus"></span><span class="mbr-gallery-title mbr-fonts-style display-7">Tapez la légende ici</span></div></div><div class="mbr-gallery-item mbr-gallery-item--p0" data-video-url="false" data-tags="Animé"><div href="#lb-gallery3-9" data-slide-to="3" data-toggle="modal"><img src="assets/images/gallery07.jpg" alt="" title=""><span class="icon-focus"></span><span class="mbr-gallery-title mbr-fonts-style display-7">Tapez la légende ici</span></div></div></div></div><div class="clearfix"></div></div></div><!-- Lightbox --><div data-app-prevent-settings="" class="mbr-slider modal fade carousel slide" tabindex="-1" data-keyboard="true" data-interval="false" id="lb-gallery3-9"><div class="modal-dialog"><div class="modal-content"><div class="modal-body"><div class="carousel-inner"><div class="carousel-item active"><img src="assets/images/gallery04.jpg" alt="" title=""></div><div class="carousel-item"><img src="assets/images/gallery05.jpg" alt="" title=""></div><div class="carousel-item"><img src="assets/images/gallery06.jpg" alt="" title=""></div><div class="carousel-item"><img src="assets/images/gallery07.jpg" alt="" title=""></div></div><a class="carousel-control carousel-control-prev" role="button" data-slide="prev" href="#lb-gallery3-9"><span class="mbri-left mbr-iconfont" aria-hidden="true"></span><span class="sr-only">Previous</span></a><a class="carousel-control carousel-control-next" role="button" data-slide="next" href="#lb-gallery3-9"><span class="mbri-right mbr-iconfont" aria-hidden="true"></span><span class="sr-only">Next</span></a><a class="close" href="#" role="button" data-dismiss="modal"><span class="sr-only">Close</span></a></div></div></div></div></div>
    </div>

</section>

<section class="mbr-section content8 cid-rBLKIyNdGJ" id="content8-h">

    

    <div class="container">
        <div class="media-container-row title">
            <div class="col-12 col-md-8">
                <div class="mbr-section-btn align-center">
                    <a class="btn btn-primary display-4" href="https://mobirise.co">EN SAVOIR PLUS</a>
                    <a class="btn btn-black-outline display-4" href="https://mobirise.co">DÉMO LIVE</a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="mbr-section content4 cid-rBLHv9viEq" id="content4-a">

    

    <div class="container">
        <div class="media-container-row">
            <div class="title col-12 col-md-8">
                <h2 class="align-center pb-3 mbr-fonts-style display-2">Images Par Minutes - Vidéo 2</h2>
                
                
            </div>
        </div>
    </div>
</section>

<section class="mbr-gallery mbr-slider-carousel cid-rBLHGjNtNx" id="gallery3-b">

    

    <div>
        <div><!-- Filter --><!-- Gallery --><div class="mbr-gallery-row"><div class="mbr-gallery-layout-default"><div><div><div class="mbr-gallery-item mbr-gallery-item--p0" data-video-url="false" data-tags="Impressionnant"><div href="#lb-gallery3-b" data-slide-to="0" data-toggle="modal"><img src="assets/images/gallery04.jpg" alt="" title=""><span class="icon-focus"></span><span class="mbr-gallery-title mbr-fonts-style display-7">Tapez la légende ici</span></div></div><div class="mbr-gallery-item mbr-gallery-item--p0" data-video-url="false" data-tags="Impressionnant"><div href="#lb-gallery3-b" data-slide-to="1" data-toggle="modal"><img src="assets/images/gallery05.jpg" alt="" title=""><span class="icon-focus"></span><span class="mbr-gallery-title mbr-fonts-style display-7">Tapez la légende ici</span></div></div><div class="mbr-gallery-item mbr-gallery-item--p0" data-video-url="false" data-tags="Adaptatif"><div href="#lb-gallery3-b" data-slide-to="2" data-toggle="modal"><img src="assets/images/gallery06.jpg" alt="" title=""><span class="icon-focus"></span><span class="mbr-gallery-title mbr-fonts-style display-7">Tapez la légende ici</span></div></div><div class="mbr-gallery-item mbr-gallery-item--p0" data-video-url="false" data-tags="Animé"><div href="#lb-gallery3-b" data-slide-to="3" data-toggle="modal"><img src="assets/images/gallery07.jpg" alt="" title=""><span class="icon-focus"></span><span class="mbr-gallery-title mbr-fonts-style display-7">Tapez la légende ici</span></div></div></div></div><div class="clearfix"></div></div></div><!-- Lightbox --><div data-app-prevent-settings="" class="mbr-slider modal fade carousel slide" tabindex="-1" data-keyboard="true" data-interval="false" id="lb-gallery3-b"><div class="modal-dialog"><div class="modal-content"><div class="modal-body"><div class="carousel-inner"><div class="carousel-item active"><img src="assets/images/gallery04.jpg" alt="" title=""></div><div class="carousel-item"><img src="assets/images/gallery05.jpg" alt="" title=""></div><div class="carousel-item"><img src="assets/images/gallery06.jpg" alt="" title=""></div><div class="carousel-item"><img src="assets/images/gallery07.jpg" alt="" title=""></div></div><a class="carousel-control carousel-control-prev" role="button" data-slide="prev" href="#lb-gallery3-b"><span class="mbri-left mbr-iconfont" aria-hidden="true"></span><span class="sr-only">Previous</span></a><a class="carousel-control carousel-control-next" role="button" data-slide="next" href="#lb-gallery3-b"><span class="mbri-right mbr-iconfont" aria-hidden="true"></span><span class="sr-only">Next</span></a><a class="close" href="#" role="button" data-dismiss="modal"><span class="sr-only">Close</span></a></div></div></div></div></div>
    </div>

</section>

<section class="mbr-section content8 cid-rBLKJowJog" id="content8-i">

    

    <div class="container">
        <div class="media-container-row title">
            <div class="col-12 col-md-8">
                <div class="mbr-section-btn align-center">
                    <a class="btn btn-primary display-4" href="https://mobirise.co">EN SAVOIR PLUS</a>
                    <a class="btn btn-black-outline display-4" href="https://mobirise.co">DÉMO LIVE</a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="mbr-section content4 cid-rBLImwPAXj" id="content4-c">

    

    <div class="container">
        <div class="media-container-row">
            <div class="title col-12 col-md-8">
                <h2 class="align-center pb-3 mbr-fonts-style display-2">
                    Vidéo 1 - Streaming</h2>
                
                
            </div>
        </div>
    </div>
</section>

<section class="cid-rBLInAKErf" id="video1-d">

    
    
    <figure class="mbr-figure align-center container">
        <div class="video-block" style="width: 66%;">
            <div><iframe class="mbr-embedded-video" src="https://www.youtube.com/embed/uNCr7NdOJgw?rel=0&amp;amp;showinfo=0&amp;autoplay=0&amp;loop=0" width="1280" height="720" frameborder="0" allowfullscreen></iframe></div>
        </div>
    </figure>
</section>

<section class="mbr-section content8 cid-rBLKK8fcy4" id="content8-j">

    

    <div class="container">
        <div class="media-container-row title">
            <div class="col-12 col-md-8">
                <div class="mbr-section-btn align-center">
                    <a class="btn btn-primary display-4" href="https://mobirise.co">EN SAVOIR PLUS</a>
                    <a class="btn btn-black-outline display-4" href="https://mobirise.co">DÉMO LIVE</a>
                </div>
            </div>
        </div>
    </div>
</section>


  <script src="../assets/web/assets/jquery/jquery.min.js"></script>
  <script src="../assets/popper/popper.min.js"></script>
  <script src="../assets/tether/tether.min.js"></script>
  <script src="../assets/bootstrap/js/bootstrap.min.js"></script>
  <script src="../assets/smoothscroll/smooth-scroll.js"></script>
  <script src="../assets/dropdown/js/script.min.js"></script>
  <script src="../assets/touchswipe/jquery.touch-swipe.min.js"></script>
  <script src="../assets/mbr-switch-arrow/mbr-switch-arrow.js"></script>
  <script src="../assets/masonry/masonry.pkgd.min.js"></script>
  <script src="../assets/imagesloaded/imagesloaded.pkgd.min.js"></script>
  <script src="../assets/bootstrapcarouselswipe/bootstrap-carousel-swipe.js"></script>
  <script src="../assets/vimeoplayer/jquery.mb.vimeo_player.js"></script>
  <script src="../assets/mbr-tabs/mbr-tabs.js"></script>
  <script src="../assets/theme/js/script.js"></script>
  <script src="../assets/gallery/player.min.js"></script>
  <script src="../assets/gallery/script.js"></script>
  <script src="../assets/slidervideo/script.js"></script>
  
  
</body>
</html>