{% extends "header.html" %}
{% block body %} 

<section class="mbr-section content4 cid-rBLImwPAXj" id="content4-c">

    

    <div class="container">
        <div class="media-container-row">
            <div class="title col-12 col-md-8">
                <h2 class="align-center pb-3 mbr-fonts-style display-2">
                    Vidéo 1 - Streaming</h2>
                
                
            </div>
        </div>
    </div>
</section>

<section class="cid-rBLInAKErf" id="video1-d">

    
    
    <figure class="mbr-figure align-center container">
        <div class="video-block" style="width: 66%;">
            <div><iframe class="mbr-embedded-video" src="https://www.youtube.com/embed/uNCr7NdOJgw?rel=0&amp;amp;showinfo=0&amp;autoplay=0&amp;loop=0" width="1280" height="720" frameborder="0" allowfullscreen></iframe></div>
        </div>
    </figure>
</section>

<section class="mbr-section content8 cid-rBLKK8fcy4" id="content8-j">

    

    <div class="container">
        <div class="media-container-row title">
            <div class="col-12 col-md-8">
                <div class="mbr-section-btn align-center">
                    <a class="btn btn-primary display-4" href="https://mobirise.co">EN SAVOIR PLUS</a>
                    <a class="btn btn-black-outline display-4" href="https://mobirise.co">DÉMO LIVE</a>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}